<%inherit file="base.html"/>
<%namespace module="filters" import="currency" />

<%block name="title">Home Office for ${year}</%block>

<p><strong>Total</strong>: ${total | currency}</p>

<h2>Breakdown by month</h2>

<table>
  <thead>
    <tr>
      <th>Month</th>
      <th>Total</th>
      <th>Rent</th>
    </tr>
  </thead>
  <tbody>
  % for row in month_rows:
  <tr>
    <td>${row['date'].format('MMMM')}</td>
    <td>${row['total'] | currency}</td>
    <td>${row['rent'] | currency}</td>
  </tr>
  % endfor
  </tbody>
</table>

<h2>Breakdown by category</h2>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
  % for row in category_rows:
  <tr>
    <td>${row['category']}</td>
    <td>${row['total'] | currency}</td>
  </tr>
  % endfor
  </tbody>
</table>
